.lerpedFollowerActive {
  position: fixed;
  pointer-events: none;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  z-index: 10;
  mix-blend-mode: difference;
  background-color: rgb(255, 255, 255);
  font-family: "Manrope-ExtraBold";
  transform: translate(-50%, -50%);
}

.lerpedFollowerNotActive {
  position: fixed;
  pointer-events: none;
  height: 15px;
  width: 15px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  border-radius: 50%;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  background-color: violet;
}
