.pageContainer {
  height: 70vh;
  position: relative;

  @media (max-width: 750px) {
    display: flex;
    align-items: end;
    padding-bottom: 5vh;
  }
}

.friseElement {
  position: absolute;
  height: 60vh;
  transition: width 0.35s ease; // animation pour l'expansion

  @media (max-width: 750px) {
    height: 50vh;
  }

  // &:hover {
  //   width: 700px; // change la largeur au hover
  // }

  .nameContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .contentContainer {
    height: 65vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    @media (max-width: 750px) {
      height: 50vh;
    }

    .image {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      // background: inherit;
      background: rgba(0, 0, 0, 0.2); // Ajoute une couche sombre

      backdrop-filter: blur(20px);
      opacity: 0;
      transition: opacity 0.2s ease;
      border-radius: 10px;
      pointer-events: none;
      z-index: 1;
    }

    &:hover::after {
      opacity: 1;
    }

    .overlay {
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      inset: 0;

      .gifContainer {
        // height: 22vh;
        // width: 20vw;
        height: 100%;
        width: 100%;

        // height: 50%;
        // width: 80%;

        position: relative;

        .gif {
          object-fit: cover;
          // object-fit: contain;

          width: 100%;
          height: 100%;
          filter: brightness(80%);
        }
      }

      .descriptionContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 0 0 20px 20px;
        position: absolute;
        bottom: 0;
        left: 0;

        p {
          font-size: 1.2vw;
          font-family: "Manrope-Bold";
          color: white;

          @media (max-width: 750px) {
            font-size: 20px;
          }
        }

        span {
          font-size: 1.1vw;
          font-family: "Manrope-Regular";
          color: white;
          line-height: 1.3;

          @media (max-width: 750px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
