.projectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.title {
  font-size: 1.5vw;
  // font-weight: bold;
  font-family: "Manrope-Regular";
  margin-bottom: 1rem;
  width: 15vw;
  text-align: center;
}
